//style guide colors

@background : #F3F3F3;
@brand-color : #00965E;
@dark-text: #2D2926;
@grey: #5F5F5F;
@accent2: #24B3C7;
@accent3: #62AC31;
@accent4: #61C56E;
@disabled: #C8C8C8;

#b-container{
  width: 5000%;
}
.collor-collumn{
  width:300px;
  display: inline-block;
  text-align: center;
  margin: 1px 15px 1px 15px;
}
.color-row{
    border-top: 1px dotted black;
}
.show-hide{
  //width:20px;
  width: 18px;
  cursor:pointer;
}
 
.generate-lighten-colors(100, background, @background);
.generate-lighten-colors(100, brand-color, @brand-color);
.generate-lighten-colors(100, dark-text, @dark-text);
.generate-lighten-colors(100, grey, @grey);
.generate-lighten-colors(100, accent2, @accent2);
.generate-lighten-colors(100, accent3, @accent3);
.generate-lighten-colors(100, accent4, @accent4);
.generate-lighten-colors(100, disabled, @disabled);


.generate-darken-colors(100, background, @background);
.generate-darken-colors(100, brand-color, @brand-color);
.generate-darken-colors(100, dark-text, @dark-text);
.generate-darken-colors(100, grey, @grey);
.generate-darken-colors(100, accent2, @accent2);
.generate-darken-colors(100, accent3, @accent3);
.generate-darken-colors(100, accent4, @accent4);
.generate-darken-colors(100, disabled, @disabled);


.generate-lighten-colors(@loopNb,@name, @colorToGenerate, @currentIndex: 0) when (@currentIndex =< @loopNb) {
  .lighten-@{name}-@{currentIndex} {
    background-color : lighten(@colorToGenerate,@currentIndex);
  }
  .generate-lighten-colors(@loopNb, @name, @colorToGenerate, (@currentIndex + 1));
}

.generate-darken-colors(@loopNb,@name, @colorToGenerate, @currentIndex: 0) when (@currentIndex =< @loopNb) {
  .darken-@{name}-@{currentIndex} {
    background-color : darken(@colorToGenerate,@currentIndex);
  }
  .generate-darken-colors(@loopNb, @name, @colorToGenerate, (@currentIndex + 1));
}
